.speech{font-family: 'Courier New', Courier, monospace;font-size: 14px; color:black;}
.direction{font-family: 'Times New Roman', Times, serif;font-size: 12px;color: black;background-color: bisque;}
.name{font-family: Arial, Helvetica, sans-serif;font: size 14px;color:black;}
.direction:hover{
    background-color: aquamarine;
    color: whitesmoke;

}
.name:hover{
    text-shadow:2px 3px 5px rgb(236, 221, 9);
    border: solid 2px grey;
}
.MAR{color: blue;}
.CLE{color: palevioletred;}
.FRO{color: orange;}
.ELI{color: blueviolet;}
table,td,th{
    padding: 2px;
    margin: 1px solid black;
    border: 1px solid black;

}
td{
    color: blue;
    margin: 1px solid black;
    text-align: left;
}
th{
    color: red;
    margin: 1px solid black;
    text-align: center;
}
tr:nth-child(even){
  background-color: yellow;
}
    ul.navbar-horizontal {
    
    list-style-type: none;
    margin: 1px;
    padding: 2px;
    }
    ul.navbar-horizontal li {
    float:left; 
    color:#000;
    background-color:aliceblue;
    }
    ul.navbar-horizontal a {
    display:block;
    padding:2px;
    }
    ul.navbar-horizontal a:hover {  
    background-color: #555;
    color:white;
    }